@import '../settings/functions';
@import '../settings/variables';

/*-----------gradient-text------------------------------------------------------------------------------------*/

.gradient-text {

    span {
        background: linear-gradient(90deg, $blueLight 0%, $purpleLight 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 500;
        letter-spacing: rem(2.24);
        text-transform: uppercase;
    }
}