// Цвета ----------------------------------------------------------------------------------------------------------------------------------
$purple: #CA6AEB;
$purpleLight: #E95CE9;
$blue: #19B5F1;
$blueLight: #0CBAF1;
$black100: #18181B;
$black80: #4A4A58;
$black50: #252532;
$grey1: #B0B0B2;
$grey2: #D1D1D1;
$white: #FFFFFF;



// Текст ---------------------------------------------------------------------------------------------------------------------------------
$fontFamily: 'Chakra Petch';
$fontWeight: 300;
$fontSize: 16;
$titleFontSize: 48;



// Контейнер ------------------------------------------------------------------------------------------------------------------------------
// Отступы безопасности
$containerPadding: 15;
// Ширина контейнера по макету
$maxWidthContainer: 1200;
// Ширина контейнера с учётом отступов безопасности
$containerWidth: $maxWidthContainer + $containerPadding + $containerPadding;
// Ширина полотна (макета)
$maxWidth: 1920;
// Минимальная ширина страницы
$minWidth: 320;